// require reset
// require bootstrap
//= require_self

#calculator
  margin: 50px auto auto auto
  width: 840px

.row
  padding: 10px

.bordered
  border: solid 2px #ccc

.total
  font-size: 18px
  font-weight: bold
